
/*header y footer*/
body{
    background:linear-gradient(#3c9687,beige);
    margin: 0px;
    
}

header{
    /* grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    
    grid-template-areas:
    "logo titulo buscar menu";
    align-items: baseline;*/
    border-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: beige;
    border-style: groove; 
    transition: all 1s;


    /* height: 140px; */
   /* background-color: #3c9687;*/
     
   
}
 

.logo{
     border-radius: 100px;
    /*display: flex;
    grid-area: logo;*/
    height: 130px;
    width: 140px;
    margin-top: 7px;
    margin-bottom: 7px;
    justify-self:center;
    align-self: center;
    transition: all 2s; 

}
.logo:hover{
    transform: scale(1.1);
    border-radius: 100px;
}




nav{
    align-self: center;
    /* display: flex;
    grid-area: menu; */ 
}
    
h1{ 
   
    /* display:flex;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    color: beige;
    grid-area: titulo;*/
    
    transition: all 1s;
    align-self: center;
    justify-content: center; 
    text-align: center;
    }
h1:hover{
color:  rgb(12, 102, 236);
}



footer{
   /* background-color: #37a38f;*/
     /* grid-area: footer; */
    border-top: 3px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: groove;
    border-color: beige; 
    padding: 20px;
        
}


/*index*/

.index__section{
    /* display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr,1fr;
    grid-template-areas:
    "presentacion main"
    "presentacion main";
    justify-content:space-around;*/
    padding: 26px;
    
   /* align-items: center; */

   
}

.video__presentacion{
    /* grid-area: presentacion;*/
    border: black;
    border-radius: 44px;
    width: 453px;
    height: 300px; 
}

.main{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    /* grid-area: main;*/
    justify-self: center;
    align-self: center;
    height: 300px;
    width: 450px; 
    border: 5px;
    border-style: groove;
    border-radius: 15px;
    overflow: hidden;  
    transition: all 2s;
  
}
.main:hover{
    height: 450px ;
    border-radius: 15px;
}



/*servicios*/
    

.sec__servicios{
    display: grid;
    padding: 15px;
    grid-template-rows:repeat(4, 1fr);
    justify-content: inherit;
   
    
    
}
.servicios{
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    
   

}
h3{
    align-self: center;
}
#lideres{
    flex-direction: row-reverse;
}
#psicotecnicos{
    flex-direction: row-reverse;
}

.div__img1{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    justify-self: center;
    align-items: center;
   
    
}

.img1{
    height: 214px;
    width: 233px;
    border-radius: 50%;
   transition: all 2s;
}
.img1:hover{
    transform: scale(1.1);
    border-radius: 50%;
}

.p__servicios{
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 169px;
    width: 405px;
     padding-right: 50px;
    padding-left: 50px;
    border-radius: 70px; 
    align-self: flex-end;
    background-color: beige;

}

/*Nosotros*/

.sec__nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
/* Contacto */
.div__contacto{
    display: flex;
    justify-content: center;
    transition: all 1s;
}

.img_contacto{
    border-radius: 50px;
    height: 350px;
    width: 450px;
    
}
.sec_contacto{
    padding: 15px;
}
/*media quires tablet*/

@media screen and (max-width: 768px){

    header{
        height: 182px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo none menu"
            "titulo buscar menu";
    }
    .logo{
      margin-top: 13px;
    }
    h1{
        display: flex;
        font-size: 23px;
        
        text-align:initial;
    }
    .buscar{
        align-self: center;
        padding: 0px;
    }
   
    nav{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
    }
    /*media tablet index*/

    .index__section{
        display: flex;
        flex-direction: column;
        padding: 14px;
        align-items: center;
    
    }
    .video__presentacion{
        height: 250px;
        width: 60%;
    }
    #main{
        height: 50%;
        width: 60%;
        margin-top: 15px;
    }
    /*tablet servicios*/
    
        .sec__servicios{
        margin-right: 0px;
        margin-left: 0px;
        
        }
        .img1{
            height: 185px;
            width: 202px;
        }
        .p__servicios{
            margin-top: 64px;
            width: 350px;
        }
        
            }
  /*media quires mobile*/
@media screen and (max-width: 425px){
       body{
           margin: 0px;
       }

        header{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        
            height: 216px;
        }
        .logo{
            height: 81px;
            width: 86px;
            justify-self: center;
            align-self: center;
            margin-top: 20px;
        }
        h1{
            height: 76px;
            width: 100px;
            justify-self: center;
            font-size: 28px;
            align-self: center;
        }
        .buscar{
            justify-self: flex-start;
            align-self: center;
            order: 1;
        }
        .boton__enviar{
            font-size: 12px;
        }
        nav{
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-self: center;
            width: 175px;
        }
        .video__presentacion{
            height: 250px;
        }
        #main{
            height: 243px;
            width: 401px;
        }
/*media quires servicios*/

       .div__img1{
        margin-right: 10px;
        margin-left: 10px;
        align-items: center;
       }
       h3{
        font-size: 14px;
        align-self: center;
        text-align: center;
       }
       .img1{
        height: 113px;
        width: 110px;
       }
       .p__servicios{
        width: 188px;
        height: 120px;
        font-size: 11px;
        overflow: auto;
        text-align: center;
        border-radius: 53px;
        margin-right: 4px;
        margin-left: 4px;
        }
    }

