@media screen and (max-width: 768px){

    header{
        height: 253px;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo none menu"
            "titulo buscar menu"; */

        .logo{
                margin-top: 13px;
              }
        h1{
                display: flex;
                font-size: 30px;
                
                text-align:initial;
            }  
    }
    
    
   
   
    /*media tablet index*/

    .index__section{
        display: flex;
        flex-direction: column;
        padding: 14px;
        align-items: center;
    
        .video__presentacion{
            height: 250px;
            width: 60%;
            margin-bottom: 10px;
        }
        .main{
            height: 50%;
            width: 60%;
            margin-top: 15px;
            & :hover{
                height: auto;
            }
        }
    }
   
    
   

    /*tablet servicios*/
    
        .sec__servicios{
        margin-right: 0px;
        margin-left: 0px;
       
            .servicios{
                height: 220px;
                justify-content: center;

                .div__img1{
                    align-items: center;
                    width: 290px;

                    .img1{
                        height: 162px;
                        width: 154px;
                    }

                }
                .p__servicios{
            
                    width: 415px;
                    height: 189px;
                    text-align: justify;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    font-size: 14px;
                    overflow: auto;
                    transition: all 2s;
                }



            }
            #lideres{
                flex-direction: row;
                
            }
            #psicotecnicos{
                flex-direction: row;
            }

        }
        
}