@import "Variables";
@import "Tablet";
// @import "Mobile";


/*header y footer*/
body{
    background-color:$body;
    margin :0px;

    header{
       
        border-bottom: 3px;
        border-top: 0px;
        border-left: 5px;
        border-right: 0px;
         
        transition: all 1s;
        background-color: $header;
        
        .logo{
            // border-radius: 100px;
         
           height: 100px;
           width: 160px;
           margin-top: 7px;
           margin-bottom: 7px;
           color: black;
           
           justify-self:center;
           align-self: center;
           transition: all 2s; 
           &:hover{
            transform: scale(1.1);
            border-radius: 100px;}

           
        nav{
                align-self: center;

              
               
               
            }

         
    }
       

       
       
    h1{ 
        transition: all 1s;
        align-self: center;
        justify-content: center; 
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: black;
        justify-self: center;
        padding: 1rem;
       

        &:hover{
            color:  $parrafos;
        }
     }
       
    }
    
    footer{
    
        border-top: 3px;
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
        border-style: groove;
        border-color: beige; 
        padding: 20px;
        background-color: $footer;
        
       
        
     
      
         ul {
             justify-self: center;
             align-self: center;
            li{
                display: inline-block;
                list-style: none;
                
                justify-self: end;

                i{
                    height: 50px;
                    width: 50px;
                    background-color: $parrafos;
                    font-size: 20px;
                    border-radius: 10px;
                    text-align: center;
                    padding-top: 15px;
                    transition: all .2s;
                    color: #F2F2F2;

                   &:hover{
                       transform: translateY(-3px) scale(1.05);

                      

                   }
                   
                   

                }
                .fa-instagram{
                    &:hover{
                        background-color: #e4405f;
                        color: white;
                        
                    }
                }
                .fa-linkedin-in{
                    &:hover{
                        background-color: #007785;
                        color: white;

                    }
                }
                .fa-tiktok{
                    &:hover{
                        background-color: black;
                        color: white;

                    }
                }
            }
        }
    
        }
 


    /*index*/

    .index__section{
    
        padding: 26px;
           
        
            .main{
                font-family:'Poppins', sans-serif;
                justify-self: center;
                align-self: center;
                text-align: center;
                
                width: 700px; 
                border: 5px;
                border-style: groove;
                border-radius: 15px;
    
                transition: all 2s;
                background-color: $parrafos;
                margin-top: 3rem;
                margin-bottom: 3rem;
            
            }

}


    /*servicios*/
    

    .sec__servicios{
        display: grid;
        padding: 15px;
        grid-template-rows:repeat(4, 1fr);
        justify-content: inherit;
    
        .servicios{
            display: flex;
            flex-direction: row;
            margin-bottom: 17px;
            
            .div__img1{
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                margin-left: 20px;
                justify-self: center;
                align-items: center;
                
                h3{
                    align-self: center;
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                }
                .img1{
                    height: 214px;
                    width: 233px;
                    margin-top: 1rem;
                    border-radius: 50%;
                    transition: all 2s; 
                    &:hover{
                     transform: scale(1.1);
                     border-radius: 100px;}
                }
            
                
                
            }
            
        
        }
        #lideres{
            flex-direction: row-reverse;
        }
        #psicotecnicos{
            flex-direction: row-reverse;
          }    
        .p__servicios{
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            width: 560px;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 70px; 
            align-self: flex-end;
            background-color: $parrafos;
            overflow: hidden;
            text-align: justify;
            color: black;
            
    
        }
        
    }
   
   
   

/* Capacitaciones */

    .sec_capacitaciones{
        display: flex;
        
        padding: 15px;
        justify-content: space-evenly;

        .capacitaciones{
            display: flex;
            flex-direction: column;
            margin-bottom: 17px;
            align-items: center;

            .div_img2{
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                margin-left: 20px;
                justify-self: center;
                align-items: center;

                .img2{
                    height: 215px;
                    width: 235px;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    border-radius: 50%;
                    transition: all 2s; 
                    &:hover{
                        transform: scale(1.1);
                        border-radius: 100px;}
                }
            }

            p{
                font-family: 'Poppins', sans-serif;
                border-radius: 50px;
                background-color: $parrafos;
                width: 20rem;
                padding: 1rem;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                
            }
        }
    }




/*Nosotros*/

    .sec__nosotros{
        margin: 20px;
        margin-top: 3rem;
        margin-bottom: 3rem;
        
        .nosotros{
            @extend .servicios;
            

            .div__imgN{
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                transition: all 2s;
              

            

                .img__n{
                   @extend .img1;
                   height: 245px;
                   width: 220px;
                   margin-bottom: 1rem;
                   border-radius: 100px;
                   align-self: center;
                   transition: all 2s; 
                    &:hover{
                        transform: scale(1.1);
                        border-radius: 100px;}
                }

                .p_nosotros{
                   background-color: $parrafos;
                   border-radius: 60px;
                   font-family: 'Poppins', sans-serif;
                   margin-top: 2rem;
                   margin-bottom: 2rem;
                   

                   ul{
                       list-style-type: none;
                       margin: 0px;
                       text-align: start;
                       padding: 15px;
                       text-align: center;
                       font-family: 'Poppins', sans-serif;
                       
                       
                   }

                }

            }
        }
      

      

        
    }

    // Contacto



.sec_contacto{
    padding: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .div__contacto{
        display: flex;
        justify-content: center;
        transition: all 1s;

        .img_contacto{
            border-radius: 50px;
            height: 350px;
            width: 450px;
            transition: all 2s; 
            &:hover{
             transform: scale(1.1);
             border-radius: 100px;}
            
        }
    }

}

}

/*media quires mobile*/
@media screen and (max-width: 425px){
    body{
        margin: 0px;
    

     header{
        margin: 0px;
        padding: 0px;
        

         .logo{
            height: 81px;
            width: 86px;
            justify-self: center;
            align-self: center;
            margin-top: 20px;
            margin-left: 10px;
        }

        h1{
            height: 35px;
            width: 100px;
            justify-self: center;
            font-size: 28px;
            align-self: center;
            padding: 2rem;
        }
     }
     
     footer{
         justify-content: flex-start;
         text-align: start;
     }

     /* Mobile index */
    
     .main{
         
         width: 401px;
         margin-top: 10px;
     }
     
     /*mobile servicios*/
     .sec__servicios{
         display: flex;
         flex-direction: column;
         justify-items: center;
         margin: 0px;

        .servicios{
            display: flex;
            flex-direction: column;
            margin: 0%;
            height: 800px;

            .div__img1{
                margin:0px;
                margin-bottom: 10px;
                align-items: center;

                h3{
                    font-size: 19px;
                    align-self: center;
                    text-align: center;
                   }
                .img1{
                    height: 200px;
                    width: 200px;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                   }
               }
             .p__servicios{
                width: 278px;
                height:auto;
                font-size: 13px;
                overflow: auto;
                text-align: start;
                border-radius: 53px;
                padding-top: 10px;
                align-self: center;
            }
        }

        #lideres{flex-direction: column;

        }
        #psicotecnicos{
            flex-direction: column;

        }

        

    }        

    // MOBILE CAPACITACIONES

    .sec_capacitaciones{
           
        flex-direction: column;

        .capacitaciones{
            display: flex;
            flex-direction: column;
            margin: 0%;
            margin-bottom: 10rem;

            .div_img2{
                flex-direction: column;
                img2{
                    margin-top: 1rem;
                    margin-bottom: 1rem;

                }
            }
        }
    }

    // MOBILE CONTACTO

        .sec_contacto{
            flex-direction: column;
            align-items: center;

            .div__contacto{
                height: 200px;
                width: 200px;
              

            .img_contacto{
                height: 200px;
                width: 200px;
                border-radius: 50%;
                margin-bottom: 3rem;
            }
        }
        }
    
       
   
  
   

    //  MOBILE NOSOTROS
        .nosotros{
            margin-top: 0px;
                    .div__imgN{
                        margin-bottom: 50px;
                        .img__n{
                            margin-top: 2rem;
                            margin-bottom: 1rem;
                        }

                        
                    }
                }
    
   
  

     /* Media contactos */

     

     .div__contacto{
         width: 100px;
         height: 100px;
        
         .img_contacto{
            width: 100px;
            height: 100px;
        }
     }

     
 }
}

// media queris tablet
@media screen and (max-width: 768px){

    // SERVICIOS

    .sec__servicios{
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0px;

       .servicios{
     
           margin: 0%;
           margin-top: 100px;
           margin-bottom: 100px;
      

           .div__img1{
               margin:0px;
               margin-bottom: 10px;
               align-items: center;
               justify-items: center;

               h3{
                   
                   align-self: center;
                   text-align: center;
                  }
               .img1{
                
                   margin-top: 1rem;
                   margin-bottom: 1rem;
                  }
              }
            .p__servicios{
           
                margin-bottom: 35px;
                margin-top: 25px;
               text-align: start;
               border-radius: 53px;
               padding-top: 10px;
               align-self: flex-start;
           }
       }
    }

    // CAPACITACIONES

    .sec_capacitaciones{
           
        flex-direction: column;

        .capacitaciones{
            display: flex;
            flex-direction: column;
            margin: 0%;
            margin-bottom: 10rem;

            .div_img2{
                flex-direction: column;
                img2{
                    margin-top: 1rem;
                    margin-bottom: 1rem;

                }
            }
        }
    }

    // contacto

    .div__contacto{
        margin-bottom: 5rem;
        margin-top: 3rem;
    }

    // Nosotros

    .nosotros{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }




}




    



